@font-face {
    font-family: "Hey Gorgeous";
    src: url("heygorgeous.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.noselect {
    user-select: none;
}
body {
    font-family: "Hey Gorgeous";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    background-color: #242424;
    /*background-image: url("mario_stars-wallpaper-1920x1080.jpg");*/
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    /* background-size: cover; */
    color: white;
}
header {
    display: flex;
    background-color: rgb(22, 49, 153);
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.712);
    background-attachment: fixed;
    font-size: 10px;
}
blockquote {
    margin-left: 35px;
    color:rgb(143, 143, 143)
}
.delete {
    color: #b71616;
    margin-top: 20px;
}
.category {
    display: block;
}
.liked {
    color: rgb(255, 222, 122);
}
.icon {
    border-radius: 100%;
    height: 64px;
    width: 64px;
}
.container {
    width: 970px;
    margin: 0px auto;
}
.clickable, .hoverable {
    display: inline-block;
    cursor: pointer;
    transition: 0.2s;
}
.clickable:hover, .hoverable:hover {
    transform: scale(1.02)
}
.clickable:active {
    transform: scale(1);
}
h1 {
    padding: 20px 0px;
    text-align: center;
}
.flex {
    display: flex;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.animeList {
    list-style: none;
}
.animeList li {
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.616);
}
.animeItem {
    background-color: rgb(13, 13, 13);
    border: 5px solid rgb(49, 48, 46)
}
.fav {
    background-color: rgb(10, 24, 51);
    border: 5px solid rgb(22, 49, 153);
}
.animeForm {
    margin-left: auto;
}
.animeForm input, .animeForm button {
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
}
.animeForm input {
    margin-right: 6px;
}